<div class="jumbotron text-center">
	<div class="row">
    	
    </div>
    <div class="row">
    	
    </div>
    <div class="row">
	    <div class="col s12 m12">
	      <div class="card">
	        <div class="card-content">
	          <span class="card-title">Set Budget</span>
	          <div class="row">
	          	<form class="col s12">
	          	  <div class="row">

	          	    <div class="input-field col s4">
	          	      <input id="first_name" ng-model="budgetType" type="text" class="validate">
	          	      <label for="first_name">Budget Type</label>
	          	    </div>
	          	  </div>
	          	  <div class="row">
	          	    <div class="input-field col s5">
	          	      <input id="number" ng-model="totalBudget" type="number" class="validate">
	          	      <label for="number">Total Budget</label>
	          	    </div>
	          	  </div>
	          	  <div class="row"></div>
	          	  <a ng-click="setBudget()" class="waves-effect waves-light btn">Set</a>
	          	</form>
	          </div>
	        </div>
	      </div>
	    </div>
	</div>
</div>